<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
            integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
            crossorigin='anonymous' referrerpolicy='no-referrer' />
        <link href='./assets/css/style.css' rel='stylesheet'>
    </head>
    <body>
        <div id="app">
            <div v-if="loading">
                <i class="fa-solid fa-spinner fa-spin-pulse"></i>
            </div>
            <div v-for="n in 10" v-show="lunghezza == 10">
                {{ randomEmails[n-1] }}
            </div>

        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
            integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script type="text/javascript" src="./assets/js/main.js"></script>
    </body>
</html>